# Ignore all files inside the drone_capture/img and drone_capture/video folders
/drone_capture/img/*
!/drone_capture/img/.gitkeep

/drone_capture/video/*
!/drone_capture/video/.gitkeep

# Ignore all files in __pycache__ folders but keep the folders
__pycache__/*
!__pycache__/.gitkeep

manager/__pycache__/*
!manager/__pycache__/.gitkeep

# Keep the drone_capture folder itself
!drone_capture/
